<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{1118,108}}</string>
                <key>offset</key>
                <string>{8,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,240},{1118,108}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>continue_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,142}}</string>
                <key>offset</key>
                <string>{320,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{735,507},{450,142}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>continue_no_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,142}}</string>
                <key>offset</key>
                <string>{320,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{735,507},{450,142}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>continue_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{450,142}}</string>
                <key>offset</key>
                <string>{-320,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,507},{450,142}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>continue_yes_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{450,142}}</string>
                <key>offset</key>
                <string>{-320,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,507},{450,142}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>gameover_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,146},{640,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,161},{640,78}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>continue.png</string>
            <key>size</key>
            <string>{1810,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1f9ef3503853e09fd650bb7b663f588:a085ca1ecf45e84f1955431ad1f0e926:1e8f5629283670635629f613db5c3136$</string>
            <key>textureFileName</key>
            <string>continue.png</string>
        </dict>
    </dict>
</plist>
