<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HPFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,92},{390,226}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>HPGaugeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{372,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,102},{372,206}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>HPGauge_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,370},{130,52}}</string>
                <key>offset</key>
                <string>{65,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,102},{130,52}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>HPGauge_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{78,182}}</string>
                <key>offset</key>
                <string>{147,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,114},{78,182}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>HPGauge_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,370},{130,52}}</string>
                <key>offset</key>
                <string>{65,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,256},{130,52}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>HPGauge_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{130,52}}</string>
                <key>offset</key>
                <string>{-64,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,256},{130,52}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>HPGauge_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,186},{78,182}}</string>
                <key>offset</key>
                <string>{-147,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,114},{78,182}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>HPGauge_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,438},{130,52}}</string>
                <key>offset</key>
                <string>{-65,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,102},{130,52}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HPGauge.png</string>
            <key>size</key>
            <string>{484,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac8901f0aa33c3e58fa6b2850b8e1ce6:040777c219ffdcc1539022dd77114dbd:601e08c1649aa1665e67998c2eb86e7c$</string>
            <key>textureFileName</key>
            <string>HPGauge.png</string>
        </dict>
    </dict>
</plist>
