<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P_Hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1068},{46,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,102},{46,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_Hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{126,124}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{126,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_Hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{142,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,52},{142,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_Hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{150,172}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,47},{150,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_Hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{190,226}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,21},{190,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_Hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{200,238}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{200,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_Hit07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,240}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{200,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_Hit08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{172,202}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{172,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>P_Hit.png</string>
            <key>size</key>
            <string>{204,1338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87fcf8ede50a81b051b4f45f3fa59804:70dd047e8835f3b8a22f6b7366f9b292:64588fb48b4f5d83dde69df073df7ca1$</string>
            <key>textureFileName</key>
            <string>P_Hit.png</string>
        </dict>
    </dict>
</plist>
