<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Derete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{956,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,371},{956,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>Escape.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Reticle_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,286},{400,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{400,400}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>Reticle_shot.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,688},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{242,242}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Reticle.png</string>
            <key>size</key>
            <string>{960,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ce04636c0d1993b045433e54f042e90:5c081dceb9ffb02550ce22b5c05dcbad:e5f5129744122ad616cc2de89c10cc92$</string>
            <key>textureFileName</key>
            <string>Reticle.png</string>
        </dict>
    </dict>
</plist>
