<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1284},{819,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{819,79}}</string>
                <key>sourceSize</key>
                <string>{843,101}</string>
            </dict>
            <key>title_credit_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{819,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{819,79}}</string>
                <key>sourceSize</key>
                <string>{843,101}</string>
            </dict>
            <key>title_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1365},{819,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{819,79}}</string>
                <key>sourceSize</key>
                <string>{843,101}</string>
            </dict>
            <key>title_end_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{819,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{819,79}}</string>
                <key>sourceSize</key>
                <string>{843,101}</string>
            </dict>
            <key>title_haikei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,570}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,114},{1280,570}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>title_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{948,468}}</string>
                <key>offset</key>
                <string>{29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,160},{948,468}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>title_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{819,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{819,79}}</string>
                <key>sourceSize</key>
                <string>{843,101}</string>
            </dict>
            <key>title_start_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,2},{819,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{819,79}}</string>
                <key>sourceSize</key>
                <string>{843,101}</string>
            </dict>
            <key>title_touchscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{992,72}}</string>
                <key>offset</key>
                <string>{0,-331}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,695},{992,72}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>title_waku.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,800}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Title.png</string>
            <key>size</key>
            <string>{2018,1510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76cbd329bacd21255e3138406e56765e:c8612cecb66d0bdb0c8d362fd2d8f8e1:fb7b55fc20842aa34b80455b5ce613fb$</string>
            <key>textureFileName</key>
            <string>Title.png</string>
        </dict>
    </dict>
</plist>
