<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Num0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{237,620}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,37},{237,620}}</string>
                <key>sourceSize</key>
                <string>{269,662}</string>
            </dict>
            <key>Num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,479},{120,615}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,21},{120,615}}</string>
                <key>sourceSize</key>
                <string>{206,645}</string>
            </dict>
            <key>Num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1361},{227,594}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{227,594}}</string>
                <key>sourceSize</key>
                <string>{245,636}</string>
            </dict>
            <key>Num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,621}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{236,621}}</string>
                <key>sourceSize</key>
                <string>{264,665}</string>
            </dict>
            <key>Num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1149},{210,601}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,40},{210,601}}</string>
                <key>sourceSize</key>
                <string>{240,653}</string>
            </dict>
            <key>Num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1361},{220,595}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{220,595}}</string>
                <key>sourceSize</key>
                <string>{284,627}</string>
            </dict>
            <key>Num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1361},{220,596}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,40},{220,596}}</string>
                <key>sourceSize</key>
                <string>{270,674}</string>
            </dict>
            <key>Num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{220,605}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{220,605}}</string>
                <key>sourceSize</key>
                <string>{246,635}</string>
            </dict>
            <key>Num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{222,609}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{222,609}}</string>
                <key>sourceSize</key>
                <string>{254,667}</string>
            </dict>
            <key>Num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{222,618}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{222,618}}</string>
                <key>sourceSize</key>
                <string>{236,648}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Number.png</string>
            <key>size</key>
            <string>{744,1959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9b5a45bc44a0631c49c4699a3fa06e3:59338dc75b59360e95e52d2288721906:92e753c29b04487cd92927c8aa3ed6b7$</string>
            <key>textureFileName</key>
            <string>Number.png</string>
        </dict>
    </dict>
</plist>
